*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(249, 245, 241);
}
h6{
    text-align: right;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    gap: 2rem;
}

.er1{
    width: 28%;
    height: 76vh;
    padding: 1rem;
    background-color: rgb(234, 240, 237);
}

.er2{
    width: 70%;
    height: 76vh;
    padding: 1rem;
    background-color: rgb(234, 237, 240);
}

.wrapper_input{
    margin-top: .8rem;
}

button{
    background-color: rgb(108, 222, 146);
    border-radius: 5px;
    padding: .2rem 1rem;
    border: solid 1px green;
    /* font-weight: 600; */
}